header {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  img {
    width: 20%;
    height: 20%;
  }

  .shop-info {
    margin-left: 5rem;
    text-align: center;
    font-family: Impact;
  }
}
